body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #1e1e1e;
    background-color: #f0f0f0;
    text-align: center;
    font-family: "Microsoft YaHei";
}

a, ul, li {
    outline: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#header {
	/*background-color: #92241b;*/
	background-image: url(../images/headerbg.jpg);
    background-repeat: repeat-x;
}
.title {
	width: 1002px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	margin: 0px auto;

}

.title a {
    color: #ffffff;
    cursor: pointer;
    border-right: 1px solid #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 宋体;
}

.title a.end {
    border-right: 0px solid #ffffff;
    padding-right: 0px;
}

#header #logo {
    height: 108px;
    background-image: url(../images/logobg.jpg);
}

#header #logo .content {
    height: 108px;
    background-image: url(../images/logo.jpg);
    width: 1002px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#header #logo .content .tel {
    color: #993229;
    padding-top: 60px;
    font-size: 24px;
    display: none;
}

#nav {
	height: 44px;
    line-height: 44px;
	background-image: url(../images/navbg.jpg);
}

#nav ul {
	margin: 0px auto;
	width: 1004px;

	/*display: inline;*/
}
#nav ul li{
	height: 44px;
    line-height: 44px;
    float: left;
}

.navline {
	background-image: url(../images/nav/navline.jpg);
	background-repeat: no-repeat;
	width: 2px;
}

#linkHome {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/hov-home.jpg)
}


#linkNews {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/news.jpg);
}

#applying {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;

	background-image: url(../images/nav/applying.jpg);

}

#academic {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/academic.jpg);
}

#campus {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/campus-life.jpg);
}

#counselling {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/counseling.jpg);
}

#about {
    height: 35px;
    width: 141px;
    line-height: 17px;
    padding-top: 9px;
    text-align: center;
    color: #625c49;
    display: block;
    font-size: 16px;
	background-image: url(../images/nav/about.jpg);
}

#banner {
	height: 368px;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 4px solid #92241b;
	background-image: url(../images/bannerbg.jpg);
}

#banner #slide1{
	background-image: url(../images/slide1.jpg);
	display: block;
	position: absolute;
	height: 368px;
	width: 100%;
	background-position: center;
}

#content {
    background-image: url(../images/contentbg.jpg);
    padding: 0px 27px;
    width: 978px;
    min-height: 100px;
    margin: 0px auto;
    padding-top: 12px;
}

#content .notification {
    height: 43px;
    width: 181px;
    line-height: 32px;
    background-image: url(../images/noticeboardbg.jpg);
    background-repeat: no-repeat;
}

#n-brand {
    display: block;
    color: #1e1e1e;
    width: 181px;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    height: 43px;
    line-height: 43px;
    float: left;
}
#content .notification-end {
    float: left;
    border-top: 1px solid rgb(217,217,217);
    border-bottom: 1px solid rgb(217,217,217);
    height: 41px;
    line-height: 41px;
    text-align: left;
    width:172px;
    position: relative;
    overflow: hidden;
    
}

#footer {
    background-image: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    width: 1002px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;
    font-family: 宋体;
}

/*.teach {
    float: left;
    width: 483px;
}

#content .teach .title {
    background-image: url(../images/infoTitlebg.jpg);
    height: 38px;
    line-height: 38px;
    margin-top:12px;
}

.titleleft {
    background-image: url(../images/infoTitle_left.jpg);
    background-repeat: no-repeat;
    height: 38px;
    line-height: 38px;
    padding-left: 25px;
    color: #9b0b00;
    font-size: 16px;
    float: left;
}*/


#icon {
    margin-top: 12px;
    border: 1px solid #dadada;
    padding: 12px;
    height: 40px;
}

#icon ul li {
    float: left;
    display: list-item;
}

#cb-icon {
    width: 100px;
    height: 40px;
}
